<!DOCTYPE html>
<html>
<head>
  <title>Teoskatalogi</title>
</head>
<body>
  <h1> Teoskatalogi </h1>
  {% if session.kayttajatunnus %}
  <p>
    Olet kirjautunut nimellä {{session.kayttajatunnus}}
  </p>
  <p>
    <a href="/kirjaudu_ulos"> Kirjaudu ulos </a>
  </p>
  <hr />
  <h2> Teokset </h2>
  {% for teos in teokset %}
  <p>
    ID: {{teos["id"]}}
    Nimi: <i>{{ teos["nimi"] }}</i>. 
    Tekijä: <i>{{teos["kayttaja_id"]}}</i>.
    {% if session.kayttajatunnus == teos["kayttaja_id"] %}
      <form action="/poista_teos/{{teos["id"]}}" method="post"> 
        <input type="submit" value="Poista" />
      </form>
      <form action="/muokkaa_teosta/{{teos["id"]}}" method="get"> 
        <input type="submit" value="Muokkaa" />
      </form>
    {% endif %}
  </p>
  <hr />
  {% endfor %}
  <form action="/luo_teos" method="post" class="inline">
    <p>
      <input type="text" name="uusi_teos_nimi" />
      <input type="submit" value="Lisää" />
    </p>
  </form>
  {% else %}
  <form action="/kirjaudu" method="post">
    <p>
      Tunnus: <br />
      <input type="text" name="tunnus" />
    </p>
    <p>
      Salasana: <br />
      <input type="password" name="salasana" />
    </p>
    <input type="submit" value="Kirjaudu" />
  </form>
  <p>
  <a href="/rekisteroidy"> Rekisteröidy </a>
  </p>
  {% endif %}
</body>
</html>

