<!DOCTYPE html>
<html>
<head>
  <title>Teoskatalogi</title>
</head>
<body>
  <h1> Teoskatalogi </h1>
  {% if session.kayttaja_id %}
  <p>
    <a href="/haku"> Haku </a>
  </p>
  <p>
    <a href="/kokoelmat"> Kokoelmat </a>
  <p>
    <a href="/kirjaudu_ulos"> Kirjaudu ulos </a>
  </p>
  <hr />
  <h2> Teokset </h2>
  <form action="/luo_teos" method="post">
    Lisää uusi teos: 
    <input type="text" name="uusi_teos_nimi" maxlength="50"/>
    <input type="submit" value="Lisää" />
  </form>
  <hr />
  {% for teos in teokset %}
    <div>
      <h3>{{ teos["nimi"] }}</h3>
      ID: {{teos["id"] }}
      Tekijä: <i>{{teos["tunnus"]}}</i>
      <p> 
        Sisältyy kokoelmiin: 
        {% for k in kokoelmat[teos["id"]] %}
          {{ k["nimi"] }}
        {% endfor %}
      </p>
      {% if session.kayttaja_id == teos["kayttaja_id"] %}
        <form action="/poista_teos/{{teos["id"]}}" method="post" style="display:inline"> 
          <input type="submit" value="Poista" />
        </form>
        <form action="/muokkaa_teosta/{{teos["id"]}}" method="get" style="display:inline"> 
          <input type="submit" value="Muokkaa" />
        </form>
      {% endif %}
      <form action="/liita_kokoelmaan/{{teos["id"]}}" method="post" style="display:inline">
        Liitä kokoelmaan:
        <input type="text" name="kokoelma" maxlength="50"/>
        <input type="submit" value="Liitä" />
      </form>
    </div>
    <hr />
  {% endfor %}
  {% else %}
  <form action="/kirjaudu" method="post">
    <p>
      Tunnus: <br />
      <input type="text" name="tunnus" />
    </p>
    <p>
      Salasana: <br />
      <input type="password" name="salasana" />
    </p>
    <input type="submit" value="Kirjaudu" />
  </form>
  <p>
  <a href="/rekisteroidy"> Rekisteröidy </a>
  </p>
  {% endif %}
</body>
</html>

