<!DOCTYPE html>
<html>
<head>
  <title>Teoskatalogi</title>
</head>
<body>
  <h1> Teoskatalogi </h1>
  {% if session.user_id %}
  <p>
	<a href="/kayttaja/{{session.user_id}}"> {{session.user_name}} </a>
  </p>
  <p>
    <a href="/haku"> Haku </a>
  </p>
  <p>
    <a href="/kokoelmat"> Kokoelmat </a>
  <p>
    <a href="/kirjaudu_ulos"> Kirjaudu ulos </a>
  </p>
  <hr />
  <h2> Teokset </h2>
  <form action="/luo_teos" method="post">
    <input type="hidden" name="csrf_token" value={{session.csrf_token}} />
    Lisää uusi teos: 
    <input type="text" name="work_title_input" maxlength="50"/>
    <input type="submit" value="Lisää" />
    Tekniikka: <select name="medium_input">
    	    <option value="other"> (valitse) </option>
    	    {% for cl in all_classes["tekniikka"] %}
    	        <option value="{{cl}}"> {{cl}} </option>
    	    {% endfor %}
    </select>
  </form>
  <hr />
  {% for w in works %}
    <div>
      <h3>{{ w["title"] }}</h3>
      <p style="text-transform: capitalize">
      ID: {{w["id"] }}.
      Tekijä: {{w["user_name"]}}.
        {% for c in work_classes[w["id"]] %}
          {{ c["title"] }}: {{c["value"] }}.
        {% endfor %}
      </p>
      <p> 
        Sisältyy kokoelmiin: 
        {% for c in collections[w["id"]] %}
          {{ c["title"] }}
        {% endfor %}
      </p>
      {% if session.user_id == w["user_id"] %}
        <form action="/poista_teos/{{w["id"]}}" method="post" style="display:inline"> 
          <input type="hidden" name="csrf_token" value={{session.csrf_token}} />
          <input type="submit" value="Poista" />
        </form>
        <form action="/muokkaa_teosta/{{w["id"]}}" method="get" style="display:inline"> 
          <input type="hidden" name="csrf_token" value={{session.csrf_token}} />
          <input type="submit" value="Muokkaa" />
        </form>
      {% endif %}
      <form action="/liita_kokoelmaan/{{w["id"]}}" method="post" style="display:inline">
        <input type="hidden" name="csrf_token" value={{session.csrf_token}} />
        Liitä kokoelmaan:
        <input type="text" name="collection_title_input" maxlength="50"/>
        <input type="submit" value="Liitä" />
      </form>
    </div>
    <hr />
  {% endfor %}
  {% else %}
  <form action="/kirjaudu" method="post">
    <p>
      Tunnus: <br />
      <input type="text" name="username_input" />
    </p>
    <p>
      Salasana: <br />
      <input type="password" name="password_input" />
    </p>
    <input type="submit" value="Kirjaudu" />
  </form>
  <p>
  <a href="/rekisteroidy"> Rekisteröidy </a>
  </p>
  {% endif %}
</body>
</html>

