<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/style.css">    
    <title>Teoskatalogi</title>
</head>
<body>
    <!-- Ylävalikko -->
    <h1> <a href="/"> Teoskatalogi </a> </h1>
    <ul class="hlist">
        <li> <a href="/"> Teokset </a> </li>
        <li><a href="/kokoelmat"> Kokoelmat </a></li>
        <li><a href="/haku"> Haku </a></li>
        {% if session.user_id %}
        <li>
            <a href="/kayttaja/{{session.user_id}}">{{session.user_name}}</a>
        </li>
        {% endif %}
        {% if session.user_id %}
        <li><a href="/kirjaudu_ulos"> Kirjaudu ulos </a></li>
        {% else %}
        <li><a href="/kirjaudu"> Kirjaudu sisään </a></li>
        {% endif %}
    </ul>
    <hr />

    <!-- Flash-viestit -->
    {% for m in get_flashed_messages() %}
    <p class="flash"> {{m}} </p>
    {% endfor %}

    <!-- Haku -->
    <h2>Haku</h2>
    <form action="/haku" method="get">
        <p>
            Hakusana:
            {% if search_term %}
                <input type="text" name="search_term" value="{{ search_term }}" />
            {% else %}
                <input type="text" name="search_term" />
            {% endif %}
            <input type="submit" value="Hae" />
        </p>
    </form>
    {% if search_term %}
        <hr />
        <h3> Tulokset </h3>
        {% for r in results %}
            <ul>
                <li>
                    <i>{{ r["title"] }}.</i>
                    {{r["user_name"]}} 2025.
                </li>
            </ul>
    {% endfor %}
  {% endif %}
</body>
