<!DOCTYPE html>
<html>
<head>
  <title>Haku</title>
</head>
<body>
  <h1>
    Haku
  </h1>
  <form action="/haku" method="get">
    <p>
      Hakusana:
      {% if search_term %}
        <input type="text" name="search_term" value="{{ search_term }}" />
      {% else %}
        <input type="text" name="search_term" />
      {% endif %}
      <input type="submit" value="Hae" />
    </p>
  </form>
  {% if search_term %}
    <hr />
    <h2> Tulokset </h2>
    {% for r in results %}
      <p>
        Nimi: <i>{{ r["name"] }}</i>. 
        Tekijä: <i>{{r["user_name"]}}</i>.
      </p>
    {% endfor %}
  {% endif %}
</body>
