<!DOCTYPE html>
<html>
<head>
	<title> Käyttäjäsivu </title>
</head>
<body>
    <!-- Ylävalikko -->
    <h1> <a href = "/"> Teoskatalogi </a> </h1>
    <ul>
        <li> <a href="/"> Teokset </a> </li>
        <li><a href="/kokoelmat"> Kokoelmat </a></li>
        <li><a href="/haku"> Haku </a></li>
        {% if session.user_id %}
            <li>
                <a href="/kayttaja/{{session.user_id}}">{{session.user_name}}</a>
            </li>
        {% endif %}
        {% if session.user_id %}
            <li><a href="/kirjaudu_ulos"> Kirjaudu ulos </a></li>
        {% else %}
            <li><a href="/kirjaudu"> Kirjaudu sisään </a></li>
        {% endif %}
    </ul>
    <hr />

	<h1> {{ session.user_name }} </h1>
	<h2> Tilastoja </h2>
	<p> Käyttäjä on lisännyt {{stats["works"]}} teosta ja luonut {{stats["collections"]}} kokoelmaa.</p>
	<p> Käyttäjän lisäämiä teoksia on valittu kokoelmiin yhteensä {{stats["picks"]}} kertaa. </p>
	<p> Käyttäjän luomissa kokoelmissa on keskimäärin {{stats["avg_collection_size"]}} teosta. </p>
	<h2> Teokset </h2>
	<ul>
	{% for w in works %}
      <li>{{ w["title"] }}</li>
	{% endfor %}
	</ul>
	<h2> Kokoelmat </h2>
	<ul>
	{% for c in collections %}
      <li>{{ c["title"] }}, {{c["work_count"]}} teosta</li>
	{% endfor %}
	</ul>
</body>
</html>
